@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

:root {
  --basic-extra-dark: #2d3440;
  --basic-dark: #565c66;
  --basic-neutral: #b9b9b9;
  --basic-light: #e7e7e7;
  --basic-extra-light: #fcfcfc;
  --basic-white: #ffffff;
  --special-extra-bright: #ff2f64;
  --special-bright: #ff4a78;
  --special-neutral: #ff7799;
  --special-light: #feafc3;
  --special-extra-light: #ffcbd8;
  --special-blue: #69a9ff;
  --special-yellow: #fcc850;
  --status-errow: #ea5454;
  --status-warning: #fd912e;
  --status-success: #00e484;
  --social-button: rgba(252, 252, 252, 0.2);
  --button-background: rgba(252, 252, 252, 0.3);
  --button-border: rgba(252, 252, 252, 0.4);
  --button-hover: rgba(252, 252, 252, 0.5);
  --additional-button-border: rgba(255, 47, 100, 0.3);
  --box-shadow: rgba(45, 52, 64, 0.1);
  --box-shadow-form: rgba(45, 52, 64, 0.12);
  --box-shadow-hover: rgba(133, 133, 133, 0.15);

  --basic-icon: #000000;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-extra-dark);
  background-color: var(--special-light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.basic-button {
  display: inline-block;
  color: var(--basic-extra-dark);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-color: var(--basic-extra-light);
  border: 4px solid var(--button-border);
  background-clip: padding-box;
  box-shadow: 0px 4px 12px var(--box-shadow);
  border-radius: 26px;
  padding: 12px 32px;
  cursor: pointer;
  box-sizing: border-box;
}

.basic-button:hover {
  background-color: var(--button-border);
  border: 4px solid var(--basic-extra-light);
  box-shadow: 0px 4px 15px var(--box-shadow-hover);
}

.basic-button:focus {
  background-color: var(--basic-extra-light);
  border: 2px solid var(--basic-extra-dark);
  box-shadow: 0px 4px 12p var(--box-shadow);
  outline: none;
}

.basic-button:disabled {
  color: var(--basic-neutral);
  background-color: var(--basic-light);
}

.additional-button {
  display: inline-block;
  color: var(--basic-extra-light);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-color: var(--special-extra-bright);
  border: 4px solid var(--additional-button-border);
  background-clip: padding-box;
  box-shadow: 0px 4px 12px var(--box-shadow);
  border-radius: 26px;
  padding: 12px 32px;
  cursor: pointer;
  box-sizing: border-box;
}

.additional-button:hover {
  color: var(--basic-extra-dark);
  background-color: var(--basic-extra-light);
  border-color: var(--special-extra-bright);
}

.additional-button:focus {
  border: 2px solid var(--basic-extra-dark);
  outline: none;
}

.page-header {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  line-height: 20px;
}

.header-logo {
  display: block;
  margin: 24px 16px 24px 0;
  width: 137px;
  height: 56px;
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1017px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 34px 0 26px;
  row-gap: 8px;
  width: 400px;
  list-style: none;
}

.navigation-item {
  padding-bottom: 8px;
}

.navigation-link {
  display: block;
  padding: 6px 14px;
  color: var(--basic-extra-dark);
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 26px;
  position: relative;
  box-sizing: border-box;
}

.navigation-link:hover {
  background: var(--button-hover);
}

.navigation-link:focus {
  background: var(--button-hover);
  border: 2px solid var(--basic-extra-dark);
  outline: none;
}

.navigation-link:active {
  background: var(--basic-extra-light);
  border: 2px solid var(--basic-extra-light);
}

.navigation-link-current {
  color: var(--basic-extra-light);
  background-color: var(--special-bright);
}

.catalog-menu {
  display: none;
  z-index: 1;
}

.catalog-item {
  position: relative;
  cursor: pointer;
}

.catalog-item:hover .catalog-menu {
  display: block;
  position: absolute;
  top: 44px;
  left: 0;
  width: 106px;
  padding: 16px;
  background-color: var(--basic-extra-light);
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
}

.catalog-menu-item {
  margin-bottom: 12px;
}

.catalog-new {
  font-weight: 700;
  margin-bottom: 24px;
}

.catalog-menu-item:last-child {
  margin-bottom: 0;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  min-width: 420px;
  margin: 0;
  padding: 36px 0 24px;
  column-gap: 16px;
  row-gap: 8px;
  list-style: none;
  font-size: 14px;
  line-height: 20px;
}

.navigation-user-link {
  display: block;
  padding: 4px 14px;
  color: var(--basic-extra-dark);
  text-decoration: none;
  background-color: var(--button-background);
  border: 2px solid transparent;
  border-radius: 26px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

.navigation-user-link:hover {
  background-color: var(--button-hover);
}

.navigation-user-link:focus {
  background-color: var(--button-hover);
  border: 2px solid var(--basic-extra-dark);
}

.navigation-user-link:active {
  background-color: var(--basic-extra-light);
}

.navigation-item-phone {
  padding-top: 6px;
}

.navigation-phone {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.navigation-link-search {
  width: 32px;
  height: 32px;
  padding: 9px 15px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: var(--basic-icon);
}

.navigation-link-login,
.navigation-link-basket {
  padding-left: 40px;
}

.navigation-link-login .navigation-icon,
.navigation-link-basket .navigation-icon {
  right: auto;
  left: 18px;
  margin: auto 0;
}
.search-form {
  display: none;
}

.search-form {
  width: 324px;
  background-color: var(--basic-extra-light);
  padding: 24px 16px;
  border-radius: 4px;
}

.search-form input {
  padding: 14px 16px;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-neutral);
  border: 1px solid var(--basic-neutral);
  width: 324px;
  border-radius: 4px;
}

.login-bar {
  display: none;
}

.authorization-button {
  position: relative;
}

.authorization-button:hover .login-bar {
  display: block;
  position: absolute;
  top: 40px;
  left: -328px;
  padding: 48px;
  width: 324px;
  background: var(--basic-extra-light);
  border-radius: 4px;
  z-index: 1;
}

.login-title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.login-form input {
  width: 292px;
  margin: 0;
  padding: 14px 16px;
  border: 1px solid var(--basic-neutral);
  border-radius: 4px;
}

.login-form input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.login-item-login {
  margin: 0;
  margin-bottom: 16px;
}

.login-item-password {
  margin: 0;
  margin-bottom: 32px;
}

.login-item-authorization {
  display: flex;
  align-items: center;
  margin: 0;
}

.login-item-authorization a {
  color: inherit;
  font-size: 14px;
  line-height: 20px;
}

.registration {
  margin: 0;
}

.login-button {
  margin-right: 23px;
}

.recovery {
  margin-bottom: 4px;
}

.basket-empty {
  display: none;
}

.basket-empty-button {
  position: relative;
  cursor: pointer;
}

.basket-empty-button:hover .basket-empty {
  display: block;
  position: absolute;
  top: 40px;
  left: -192px;
  width: 192px;
  padding: 48px;
  background-color: var(--basic-extra-light);
  border-radius: 4px;
}

.basket-empty-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin: 0;
}

.basket {
  display: none;
}

.basket-item-button {
  position: relative;
}

.basket-item-button:hover .basket {
  display: block;
  position: absolute;
  top: 40px;
  left: -324px;
  width: 345px;
  background-color: var(--basic-extra-light);
  border-radius: 4px;
  padding: 48px;
}

.basket-product-list {
  list-style: none;
  padding: 0;
}

.basket-title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.basket-product-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.basket-product-item-link {
  display: flex;
}

.basket-product-description {
  margin-left: 16px;
  margin-right: 83px;
}

.basket-product-title {
  margin: 0;
  margin-bottom: 4px;
}

.basket-product-number {
  margin: 0;
}

.basket-product-price {
  align-self: center;
}

.checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.assortment {
  margin-bottom: 78px;
}

.slider-wrapper {
  display: flex;
}

.slider-text {
  display: flex;
  width: 470px;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  padding-top: 136px;
  list-style: none;
}

.slide {
  display: none;
  width: 540px;
  min-height: 280px;
}

.slide-current {
  display: block;
}

.slide-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.slide-description {
  width: 414px;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.slider-button {
  margin-top: 43px;
  margin-left: -4px;
}

.slider-images {
  display: flex;
  align-items: center;
  width: 630px;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 46px;
}

.slider-images-slide {
  position: relative;
  width: 100px;
  height: 150px;
  opacity: 0.4;
}

.slider-images-slide::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 28px;
  left: -5px;
  background-color: var(--special-extra-light);
  z-index: -1;
}

.slider-images-slide img {
  height: 100%;
  width: auto;
}

.current {
  position: relative;
  width: 306px;
  height: 507px;
  opacity: 1;
  margin: 21px 21px 26px;
}

.current::after {
  position: absolute;
  content: "";
  width: 312px;
  height: 312px;
  border-radius: 50%;
  top: 100px;
  left: 0;
  background-color: var(--special-extra-light);
  z-index: -1;
}

.slider-controls {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.next-slide {
  position: absolute;
  top: -17px;
  right: -25px;
  width: 38px;
  height: 38px;
  padding: 9px;
  color: var(--basic-extra-light);
  background-color: var(--button-background);
  border: 2px solid var(--basic-extra-light);
  box-sizing: border-box;
  border-radius: 26px;
  cursor: pointer;
}

.previous-slide {
  position: absolute;
  top: -17px;
  left: -19px;
  width: 38px;
  height: 38px;
  padding: 9px;
  color: var(--basic-extra-light);
  background-color: var(--button-background);
  border: 2px solid var(--basic-extra-light);
  box-sizing: border-box;
  border-radius: 26px;
  cursor: pointer;
}

.controls-button:hover {
  color: var(--basic-extra-dark);
  background-color: var(--basic-extra-light);
}

.controls-button:focus {
  color: var(--basic-extra-dark);
  border: 2px solid var(--basic-extra-dark);
  outline: none;
}

.controls-button:active {
  color: var(--basic-extra-light);
  background-color: var(--button-background);
  border: 2px solid var(--basic-extra-light);
  opacity: 0.4;
}

.slide-dots {
  display: flex;
  margin: 0;
  margin-top: 116px;
  padding: 0;
  gap: 8px;
  list-style: none;
}

.dots-button {
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  background-color: var(--button-background);
  border: 1px solid var(--button-background);
  border-radius: 100%;
  background-clip: padding-box;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.dots-current {
  background-color: var(--basic-extra-light);
}

.dots-button:hover {
  background-color: var(--button-background);
  border: 1px solid var(--basic-extra-light);
}

.dots-button:focus {
  background-color: var(--button-background);
  border: 1px solid var(--basic-extra-dark);
  outline: none;
}

.social-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 12px;
}

.social-button {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: var(--basic-extra-light);
  border: 2px solid var(--social-button);
  box-sizing: border-box;
  background-clip: padding-box;
}

.social-button:hover {
  background-color: var(--basic-extra-dark);
  border-color: var(--social-button);
}

.social-button:focus {
  background-color: var(--basic-extra-dark);
  outline: none;
  border-color: var(--basic-extra-dark);
}

.slider-social {
  margin-top: -30px;
  margin-right: -2px;
}

.actions {
  margin-bottom: 81px;
}

.section-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
}

.actions-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 30px;
}

.action {
  width: 490px;
  background-color: var(--special-neutral);
  border-radius: 16px;
  padding: 40px;
  padding-bottom: 36px;
}

.action-text {
  width: 321px;
}

.action-raspberry {
  background-image: url("../img/action-raspberry.png");
  background-repeat: no-repeat;
  background-position-x: 374px;
  background-position-y: bottom;
}

.action-marshmallow {
  background-image: url("../img/action-marshmallows.png");
  background-repeat: no-repeat;
  background-position-x: 331px;
  background-position-y: bottom;
}

.action-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.actions-description {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}

.actions-button {
  margin-left: -4px;
}

.actions-image {
  align-self: flex-end;
}

.popular {
  margin-bottom: 80px;
}

.popular-title {
  margin-bottom: 107px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  row-gap: 91px;
  margin: 0;
  margin-top: 99px;
  padding: 0;
  list-style: none;
}

.popular-product-list {
  margin-top: 107px;
}

.product-list-catalog {
  margin-bottom: 16px;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 190px;
  min-height: 253px;
  padding: 0 40px 24px 40px;
  background-color: var(--basic-extra-light);
  border-radius: 8px;
}

.product-card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.product-card-image {
  width: 192px;
  height: 184px;
  order: -1;
  margin-top: -51px;
}

.product-card-title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.product-card-description {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  text-align: center;
}

.product-card-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.product-card-price {
  font-size: 20px;
  line-height: 24px;
}

.basket-button {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  background-color: var(--special-extra-bright);
  border-radius: 26px;
  color: var(--basic-extra-light);
  border: 2px solid var(--special-extra-bright);
  box-sizing: border-box;
}

.basket-button:hover {
  color: var(--basic-icon);
  background-color: var(--basic-white);
}

.basket-button:focus {
  background-color: var(--special-extra-bright);
  border-color: var(--basic-extra-dark);
  outline: none;
}

.basket-button:disabled {
  color: var(--basic-dark);
  background-color: var(--basic-neutral);
  border-color: var(--basic-neutral);
}

.basket-button-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.advantages {
  background-image: url("../img/advantages-background.jpg");
  border-radius: 16px;
  margin: 0;
  margin-bottom: 80px;
  padding: 24px;
}

.advantages-wrapper {
  background-color: var(--basic-extra-light);
  border-radius: 16px;
  padding: 56px 40px;
}

.advantages-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  position: relative;
  width: 441px;
  color: var(--basic-dark);
  padding-left: 64px;
}

.advantages-manufacture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-ingredients::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-quality::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background-image: url("../img/leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-delivery::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.index-bar {
  display: flex;
  gap: 30px;
  margin-bottom: 76px;
}

.news {
  width: 506px;
  background-image: url("../img/news-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 32px;
}

.news-text {
  width: 303px;
}

.news-title {
  color: var(--basic-dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
}

.news-description {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.newsletter {
  width: 558px;
  background-image: url("../img/mail-background.png");
  background-repeat: no-repeat;
  margin: 0;
  padding: 6px;
}

.newsletter-wrapper {
  background-color: var(--basic-extra-light);
  border-radius: 16px;
  padding: 26px 26px 24px;
}

.newsletter-description {
  color: var(--basic-dark);
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.newsletter-email {
  margin: 0;
  padding: 0;
}

.email-field {
  width: 332px;
  padding: 14px 15px;
  box-sizing: border-box;
}

.email-field::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-neutral);
}

.newsletter-button {
  margin-right: -6px;
}

.delivery {
  display: flex;
  justify-content: space-between;
  background-image: url("../img/delivery-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
}

.delivery-description-wrapper {
  width: 371px;
  margin-top: 103px;
}

.delivery-title {
  text-align: left;
  margin-bottom: 24px;
}

.delivery-form-description {
  color: var(--basic-dark);
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.delivery-form-wrapper {
  width: 420px;
  background-color: var(--basic-extra-light);
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0px 15px 40px var(--box-shadow-form);
}

.delivery-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.delivery-form input {
  margin: 0;
  margin-bottom: 20px;
  padding: 16px 16px;
  border: 1px solid var(--basic-neutral);
  box-sizing: border-box;
  border-radius: 4px;
}

.delivery-form input::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-neutral);
}

.delivery-form p {
  margin: 0;
  padding: 0;
}

.form-label {
  display: flex;
}

.delivery-form label {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  margin-bottom: 8px;
}

.info {
  display: block;
  width: 14px;
  height: 14px;
  margin-left: 4px;
  margin-top: 3px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.delivery-form-button {
  margin: auto;
  margin-top: 4px;
}

.delivery-date {
  width: 117px;
}

.delivery-phone {
  width: 287px;
}

.delivery-address {
  width: 420px;
}

.contacts {
  background-image: url("../img/contacts-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 64px;
}

.contacts-wrapper {
  width: 263px;
  padding: 40px;
  padding-bottom: 37px;
  background-color: var(--basic-extra-light);
  border-radius: 8px;
  box-shadow: 0px 8px 16px var(--box-shadow-form);
}

.contacts-address {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  color: var(--basic-dark);
}

.contacts-address-text {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-phone {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  color: var(--basic-dark);
}

.contacts-phone-link {
  margin: 0;
  padding: 0;
  color: var(--basic-extra-dark);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  color: var(--basic-dark);
  font-size: 14px;
  line-height: 20px;
}

.feedback-link {
  margin-left: -3px;
}

.page-footer {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding: 48px 0;
}

.footer-social-list {
  margin-top: -2px;
  margin-left: 2px;
  margin-right: 297px;
}

.footer-navigation-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 356px;
  height: 52px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 20px;
  row-gap: 4px;
}

.footer-navigation-item {
  padding-bottom: 4px;
  padding-left: 24px;
}

.footer-navigation-link {
  text-decoration: none;
  color: inherit;
}

.footer-navigation-current {
  position: relative;
  font-weight: 700;
}

.footer-navigation-current::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../img/heart-fill.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.developer {
  width: 193px;
  margin-left: auto;
  margin-right: 14px;
}

.developer-text {
  margin: 0;
  margin-top: 9px;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link {
  color: inherit;
}

.modal {
  background-color: var(--basic-extra-light);
  border-radius: 4px;
}

.modal-catalog-menu {
  font-size: 14px;
  line-height: 20px;
}

.catalog-menu {
  list-style: none;
}

.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.catalog-menu-link {
  color: inherit;
  text-decoration: none;
}

.catalog-new {
  font-weight: 700;
}

.modal-login {
  line-height: 20px;
}

.modal-feedback {
  border-radius: 8px;
}

.inner-header {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 40px;
}

.inner-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  order: 1;
  margin: 0;
  margin-top: 16px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  gap: 29px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -20px;
  width: 12px;
  height: 12px;
  background-image: url("../img/chevrons-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-item:first-child::before {
  content: none;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filters {
  font-size: 14px;
  line-height: 20px;
}

.filter {
  max-width: 807px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter legend {
  margin-bottom: 8px;
  margin-left: 16px;
}

.filter-sorting {
  width: 196px;
}

.select-control {
  width: 100%;
  background-color: var(--button-background);
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 20px;
  appearance: none;
}

.price-controls input {
  width: 50px;
}

.filter-price {
  width: 196px;
}

.price-controls {
  display: flex;
}

.filter-price p {
  margin: 0;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: var(--button-background);
  border-radius: 20px;
  margin: 0;
  padding: 8px 16px;
  gap: 16px;
}

.filter-rich {
  width: 367px;
}

.filter-toppings {
  width: 596px;
}

.filter-button {
  font-weight: 700;
  background-color: var(--button-background);
  border: 2px solid var(--basic-extra-light);
  border-radius: 20px;
  padding: 8px 54px;
  align-self: flex-end;
}

.catalog-card {
  margin-bottom: 40px;
}

.pagination-container {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 37px 0;
}

.pagination {
  display: flex;
  justify-content: end;
  min-width: 497px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  display: block;
  color: inherit;
  text-decoration: none;
  line-height: 20px;
  padding: 2px 7px;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-radius: 50px;
}

.pagination-current {
  background-color: var(--basic-extra-light);
  border-radius: 50px;
  cursor: pointer;
}

.pagination-prev {
  position: relative;
  width: 16px;
  height: 16px;
  background-image: url("../img/arrow-left.svg");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  margin-top: 4px;
  margin-right: 16px;
  padding: 0;
  opacity: 0.2;
  border: none;
}

.pagination-next {
  position: relative;
  width: 16px;
  height: 16px;
  background-image: url("../img/arrow-right.svg");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  margin-top: 4px;
  margin-left: 16px;
  padding: 0;
  border: none;
}

.pagination-link:hover {
  background-color: var(--button-background);
  border-color: var(--basic-extra-light);
}

.pagination-link:focus {
  border-color: var(--basic-extra-dark);
}

.basket-product-list {
  list-style: none;
}

.basket-product-item-link {
  color: inherit;
  text-decoration: none;
}

.basket-product-title {
  font-weight: 700;
  font-size: 18px;
}

.basket-product-number {
  color: var(--basic-neutral);
}

.basket-product-price {
  font-size: 18px;
}

.basket-amount {
  font-weight: 700;
  font-size: 18px;
}
