@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

:root {
  --basic-extra-dark: #2d3440;
  --basic-dark: #565c66;
  --basic-neutral: #b9b9b9;
  --basic-light: #e7e7e7;
  --basic-extra-light: #fcfcfc;
  --basic-white: #ffffff;
  --special-extra-bright: #ff2f64;
  --special-bright: #ff4a78;
  --special-neutral: #ff7799;
  --special-light: #feafc3;
  --special-extra-light: #ffcbd8;
  --special-blue: #69a9ff;
  --special-yellow: #fcc850;
  --status-errow: #ea5454;
  --status-warning: #fd912e;
  --status-success: #00e484;
  --basic-icon: #000000;
  --social-button: rgba(252, 252, 252, 0.2);
  --button-background: rgba(252, 252, 252, 0.3);
  --button-border: rgba(252, 252, 252, 0.4);
  --button-hover: rgba(252, 252, 252, 0.5);
  --additional-button-border: rgba(255, 47, 100, 0.3);
  --box-shadow-hover: rgba(133, 133, 133, 0.15);
  --tooltip-shadow: rgba(173, 152, 143, 0.18);
  --range-scale: rgba(86, 92, 102, 0.3);
  --link-underline: rgba(45, 52, 64, 0.5);
  --modal-background: rgba(45, 52, 64, 0.3);
  --disabled-button: rgba(185, 185, 185, 0.3);
  --spinner-basic: rgba(36, 36, 36, 0.24);
  --spinner-additional: rgba(252, 252, 252, 0.25);
  --small-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  --middle-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  --big-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-extra-dark);
  background-color: var(--special-light);
}

.slide-2 {
  background-color: var(--special-blue);
}

.slide-3 {
  background-color: var(--special-yellow);
}

.slider-current {
  background-color: var(--special-light);
}

img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.basic-button {
  display: inline-block;
  color: var(--basic-extra-dark);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-color: var(--basic-extra-light);
  border: 4px solid var(--button-border);
  background-clip: padding-box;
  -webkit-box-shadow: var(--small-shadow);
          box-shadow: var(--small-shadow);
  border-radius: 26px;
  padding: 12px 32px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -moz-outline-radius: 26px;
}

.basic-button:hover {
  background-color: var(--button-border);
  border: 4px solid var(--basic-extra-light);
}

.basic-button:focus {
  background-color: var(--basic-extra-light);
  outline: 2px solid var(--basic-extra-dark);
  background-clip: border-box;
}

.basic-button:active {
  background-color: var(--basic-extra-light);
  background-clip: border-box;
}

.basic-button:disabled {
  font-weight: 400;
  color: var(--basic-neutral);
  background-color: var(--basic-light);
}

.basic-spinner,
.additional-spinner {
  padding-right: 56px;
}

.basic-spinner::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 32px;
  width: 16px;
  height: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border-top: 2px solid var(--basic-extra-dark);
  border-right: 2px solid var(--spinner-basic);
  border-bottom: 2px solid var(--spinner-basic);
  border-left: 2px solid var(--spinner-basic);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.additional-button {
  display: inline-block;
  color: var(--basic-extra-light);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-color: var(--special-extra-bright);
  border: 4px solid var(--additional-button-border);
  background-clip: padding-box;
  -webkit-box-shadow: var(--small-shadow);
          box-shadow: var(--small-shadow);
  border-radius: 26px;
  padding: 12px 32px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -moz-outline-radius: 26px;
}

.additional-button:hover,
.additional-button:active {
  color: var(--basic-extra-dark);
  background-color: var(--basic-extra-light);
  border-color: var(--special-extra-bright);
}

.additional-button:focus {
  background-color: var(--special-extra-bright);
  background-clip: border-box;
}

.additional-button:disabled {
  font-weight: 400;
  color: var(--basic-dark);
  background-color: var(--basic-neutral);
  border-color: var(--disabled-button);
}

.additional-spinner {
  padding-right: 56px;
}

.additional-spinner::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 32px;
  width: 16px;
  height: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border-top: 2px solid var(--basic-extra-light);
  border-right: 2px solid var(--spinner-additional);
  border-bottom: 2px solid var(--spinner-additional);
  border-left: 2px solid var(--spinner-additional);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  margin: 0 auto;
  line-height: 20px;
}

.header-logo {
  display: block;
  margin: 24px 16px 24px 0;
  width: 137px;
  height: 56px;
  cursor: pointer;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1017px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 34px 0 26px;
  row-gap: 8px;
  width: 400px;
  list-style: none;
}

.navigation-item {
  padding-bottom: 8px;
}

.navigation-link {
  display: block;
  padding: 6px 14px;
  color: var(--basic-extra-dark);
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 26px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-link:hover {
  background: var(--button-hover);
}

.navigation-link:focus {
  background: var(--button-hover);
  border: 2px solid var(--basic-extra-dark);
  outline: none;
}

.navigation-link:active {
  background: var(--basic-extra-light);
  border: 2px solid var(--basic-extra-light);
}

.navigation-link-current {
  color: var(--basic-extra-light);
  background-color: var(--special-bright);
}

.catalog-menu {
  visibility: hidden;
  position: absolute;
  top: 44px;
  left: 0;
  min-width: 138px;
  background-color: var(--basic-extra-light);
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  z-index: 1;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 10px;
  -webkit-box-shadow: var(--middle-shadow);
          box-shadow: var(--middle-shadow);
  list-style: none;
}

.catalog-item {
  position: relative;
  cursor: pointer;
}

.catalog-item:nth-child(2n) {
  margin-top: 6px;
}

.catalog-link-active:hover {
  background-color: var(--basic-extra-light);
}

.catalog-item:hover .catalog-menu {
  visibility: visible;
}

.catalog-menu-link {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 6px 0;
}

.catalog-new {
  position: relative;
  font-weight: 700;
}

.catalog-new-link {
  display: block;
  position: relative;
  padding: 12px 0;
  margin-bottom: 6px;
}

.catalog-new-link::after {
  content: "";
  position: absolute;
  top: 43px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--basic-neutral);
}

.catalog-menu-item {
  padding-right: 16px;
  padding-left: 16px;
}

.catalog-menu-item:hover {
  background-color: var(--special-extra-light);
}

.catalog-menu-item:active {
  background-color: var(--special-neutral);
}

.catalog-menu-item-active {
  color: var(--basic-extra-light);
  background-color: var(--special-bright);
}

.navigation-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 253px;
  margin: 0;
  margin-left: 8px;
  padding: 36px 0 24px;
  -webkit-column-gap: 17px;
     -moz-column-gap: 17px;
          column-gap: 17px;
  row-gap: 8px;
  list-style: none;
  font-size: 14px;
  line-height: 20px;
}

.navigation-user-link {
  display: block;
  padding: 4px 14px;
  color: var(--basic-extra-dark);
  text-decoration: none;
  background-color: var(--button-background);
  border: 2px solid transparent;
  border-radius: 26px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  outline: none;
}

.navigation-user-link:hover {
  background-color: var(--button-hover);
}

.navigation-user-link:focus {
  background-color: var(--button-hover);
  border: 2px solid var(--basic-extra-dark);
}

.navigation-user-link:active {
  background-color: var(--basic-extra-light);
}

.navigation-phone {
  min-width: 148px;
  margin: 0;
  margin-right: 8px;
  margin-left: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navigation-link-phone {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.navigation-link-login,
.navigation-link-basket {
  padding-left: 40px;
}

.search-button {
  position: relative;
  width: 32px;
  height: 36px;
}

.navigation-link-search {
  width: 32px;
  height: 32px;
  padding: 9px 15px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center 5px;
}

.search-form {
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: -324px;
  width: 324px;
  background-color: var(--basic-extra-light);
  padding: 24px 16px;
  border-radius: 4px;
  z-index: 1;
  -webkit-box-shadow: var(--middle-shadow);
          box-shadow: var(--middle-shadow);
}

.search-field {
  position: relative;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  margin: 0;
  padding: 13px 16px;
  border: 1px solid var(--basic-neutral);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 324px;
}

.search-field:hover {
  color: var(--basic-extra-dark);
  border: 1px solid var(--basic-neutral);
  outline: none;
}

.search-field:focus {
  color: var(--basic-extra-dark);
  border: 1px solid var(--basic-neutral);
  outline: none;
}

.search-field::-webkit-search-decoration,
.search-field::-webkit-search-cancel-button,
.search-field::-webkit-search-results-button,
.search-field::-webkit-search-results-decoration {
  display: none;
}

.search-field-button {
  display: none;
  position: absolute;
  padding: 0;
  top: 40px;
  right: 29px;
  width: 16px;
  height: 16px;
  background-color: var(--basic-extra-light);
  border: none;
  background-image: url("../img/cross-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.search-field:focus + .search-field-button {
  display: block;
  opacity: 0.4;
}

.search-field:focus + .search-field-button:hover {
  display: block;
  opacity: 1;
}

.login-bar {
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: -328px;
  padding: 48px;
  width: 324px;
  background: var(--basic-extra-light);
  border-radius: 4px;
  z-index: 1;
  -webkit-box-shadow: var(--big-shadow);
          box-shadow: var(--big-shadow);
}

.navigation-link-login {
  background-image: url("../img/log-in.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
}

.authorization-button {
  position: relative;
}

.authorization-button:hover .login-bar {
  visibility: visible;
}

.login-title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.login-form input {
  width: 100%;
}

.login-form input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.login-form input::-moz-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.login-form input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.login-form input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.login-form input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.login-item-login {
  margin: 0;
  margin-bottom: 16px;
}

.login-item-password {
  margin: 0;
  margin-bottom: 27px;
}

.login-item-authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.login-item-authorization a {
  color: inherit;
  font-size: 14px;
  line-height: 20px;
}

.registration {
  margin: 0;
  margin-top: -1px;
  text-underline-offset: 3px;
}

.login-button {
  margin-right: 20px;
  margin-left: -4px;
}

.recovery {
  display: block;
  margin-bottom: 4px;
}

.registration-link {
  display: block;
}

.empty-basket {
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
}

.basket-empty {
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: -188px;
  z-index: 1;
  width: 192px;
  padding: 48px;
  background-color: var(--basic-extra-light);
  border-radius: 4px;
  -webkit-box-shadow: var(--middle-shadow);
          box-shadow: var(--middle-shadow);
}

.basket-empty-button {
  position: relative;
  cursor: pointer;
}

.basket-empty-button:hover .basket-empty {
  visibility: visible;
}

.basket-empty-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin: 0;
}

.full-basket {
  position: relative;
  background-image: url("../img/cart-full.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
}

.basket {
  visibility: hidden;
  position: absolute;
  top: 40px;
  left: -323px;
  width: 345px;
  background-color: var(--basic-extra-light);
  border-radius: 4px;
  padding: 48px;
  padding-bottom: 44px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  -webkit-box-shadow: var(--big-shadow);
          box-shadow: var(--big-shadow);
  z-index: 1;
}

.basket-item-button {
  position: relative;
}

.basket-item-button:hover .basket {
  visibility: visible;
}

.basket-product-list {
  list-style: none;
  padding: 0;
}

.basket-title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
}

.basket-product-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.basket-product-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: inherit;
  text-decoration: none;
  width: 226px;
}

.basket-product-image {
  width: 52px;
  height: 50px;
  margin-left: -3px;
}

.basket-product-description {
  margin-left: 13px;
}

.basket-product-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 3px;
}

.basket-product-number {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-neutral);
}

.basket-product-price {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.basket-product-delete {
  position: absolute;
  padding: 0;
  top: 14px;
  right: 0;
  width: 16px;
  height: 16px;
  background-color: var(--basic-extra-light);
  border: none;
  background-image: url("../img/cross-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.checkout {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 56px;
}

.checkout-button {
  margin-left: -4px;
}

.checkout::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--basic-light);
}

.main-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.assortment {
  margin-bottom: 78px;
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 470px;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  padding-top: 136px;
  list-style: none;
}

.slide {
  display: none;
  width: 540px;
  min-height: 280px;
}

.slide-current {
  display: block;
}

.slide-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.slide-description {
  width: 414px;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.slider-button {
  margin-top: 43px;
  margin-left: -4px;
}

.slider-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 630px;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-column-gap: 41px;
     -moz-column-gap: 41px;
          column-gap: 41px;
}

.slider-images-slide {
  position: relative;
  width: 100px;
  height: 150px;
  opacity: 0.4;
}

.slider-images-slide::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 28px;
  left: 0;
  background-color: var(--special-extra-light);
  z-index: -1;
}

.slider-images-slide img {
  display: block;
  margin: auto;
  height: 100%;
  width: auto;
}

.slider-images-current {
  width: 306px;
  height: 507px;
  opacity: 1;
  margin: 21px 21px 26px;
}

.slider-images-current::after {
  position: absolute;
  content: "";
  width: 312px;
  height: 312px;
  border-radius: 50%;
  top: 100px;
  left: 0;
  background-color: var(--basic-extra-light);
  opacity: 0.3;
  z-index: -1;
}

.slider-controls {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.next-slide {
  position: absolute;
  top: -17px;
  right: -25px;
  width: 38px;
  height: 38px;
  padding: 9px;
  color: var(--basic-extra-light);
  background-color: var(--button-background);
  border: 2px solid var(--basic-extra-light);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 26px;
  cursor: pointer;
}

.previous-slide {
  position: absolute;
  top: -17px;
  left: -19px;
  width: 38px;
  height: 38px;
  padding: 9px;
  color: var(--basic-extra-light);
  background-color: var(--button-background);
  border: 2px solid var(--basic-extra-light);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 26px;
  cursor: pointer;
}

.controls-button:hover {
  color: var(--basic-extra-dark);
  background-color: var(--basic-extra-light);
}

.controls-button:focus {
  color: var(--basic-extra-dark);
  border: 2px solid var(--basic-extra-dark);
  outline: none;
}

.controls-button:active {
  color: var(--basic-extra-light);
  background-color: var(--button-background);
  border: 2px solid var(--basic-extra-light);
  opacity: 0.4;
}

.controls-button:disabled {
  opacity: 0.4;
}

.slide-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 116px;
  padding: 0;
  gap: 8px;
  list-style: none;
}

.dots-button {
  width: 12px;
  height: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--button-background);
  border: 1px solid var(--button-background);
  border-radius: 100%;
  background-clip: padding-box;
  cursor: pointer;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dots-current {
  background-color: var(--basic-extra-light);
  border: 1px solid var(--basic-extra-light);
}

.dots-button:hover {
  background-color: var(--button-background);
  border: 1px solid var(--basic-extra-light);
}

.dots-button:active {
  background-color: var(--basic-extra-light);
  border: 1px solid var(--button-background);
}

.dots-button:focus {
  background-color: var(--button-background);
  border: 1px solid var(--basic-extra-dark);
  outline: none;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 12px;
}

.social-button {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: var(--basic-extra-light);
  border: 2px solid var(--social-button);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: padding-box;
}

.social-button:hover {
  background-color: var(--basic-extra-dark);
  border-color: var(--social-button);
}

.social-button:focus,
.social-button:active {
  background-color: var(--basic-extra-dark);
  outline: none;
  border-color: var(--basic-extra-dark);
}

.slider-social {
  margin-top: -30px;
  margin-right: -2px;
}

.actions {
  margin-bottom: 81px;
}

.actions-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
}

.actions-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 30px;
}

.action {
  width: 490px;
  background-color: var(--special-neutral);
  border-radius: 16px;
  padding: 40px;
  padding-bottom: 36px;
}

.action-text {
  width: 321px;
}

.action-raspberry {
  background-image: url("../img/action-raspberry.png");
  background-repeat: no-repeat;
  background-position-x: 374px;
  background-position-y: bottom;
}

.action-marshmallow {
  background-image: url("../img/action-marshmallows.png");
  background-repeat: no-repeat;
  background-position-x: 331px;
  background-position-y: bottom;
}

.action-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.actions-description {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}

.actions-button {
  margin-left: -4px;
}

.actions-image {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.popular {
  margin-bottom: 80px;
}

.popular-title {
  margin-bottom: 107px;
}

.product-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 270px 30px 270px 30px 270px 30px 270px;
  grid-template-columns: repeat(4, 270px);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 91px;
  margin: 0;
  margin-top: 99px;
  padding: 0;
  list-style: none;
}

.popular-product-list {
  margin-top: 107px;
}

.product-list-catalog {
  margin-bottom: 16px;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 190px;
  min-height: 253px;
  padding: 0 40px 24px 40px;
  background-color: var(--basic-extra-light);
  border-radius: 8px;
}

.product-card-link-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.product-card-link-image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--basic-extra-dark);
  text-decoration: none;
  margin-bottom: -4px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.product-card-image {
  width: 192px;
  height: 184px;
  margin-top: -51px;
}

.product-card-title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.product-card-description {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
}

.product-card-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.product-card-price {
  max-width: 150px;
  font-size: 20px;
  line-height: 24px;
}

.basket-button {
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  background-color: var(--special-extra-bright);
  border-radius: 26px;
  color: var(--basic-extra-light);
  border: 2px solid var(--special-extra-bright);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.basket-button:hover {
  color: var(--basic-icon);
  background-color: var(--button-background);
}

.basket-button:focus,
.basket-button:active {
  background-color: var(--special-extra-bright);
  border-color: var(--basic-extra-dark);
  outline: none;
}

.basket-button:disabled {
  color: var(--basic-dark);
  background-color: var(--basic-neutral);
  border-color: var(--basic-neutral);
}

.basket-button-icon {
  position: absolute;
  top: 0;
  right: 1px;
  bottom: 0;
  left: 0;
  margin: auto;
}

.advantages {
  background-image: url("../img/advantages-background.jpg");
  border-radius: 16px;
  margin: 0;
  margin-bottom: 80px;
  padding: 24px;
  background-size: cover;
}

.advantages-wrapper {
  background-color: var(--basic-extra-light);
  border-radius: 16px;
  padding: 56px 40px;
}

.advantages-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0;
  margin-bottom: 56px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  position: relative;
  width: 441px;
  color: var(--basic-dark);
  padding-left: 64px;
}

.advantages-manufacture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-ingredients::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-quality::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background-image: url("../img/leaf.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-delivery::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.index-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 76px;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 506px;
  background-color: var(--basic-extra-light);
  background-image: url("../img/news-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 32px;
}

.news-text {
  width: 303px;
}

.news-title {
  color: var(--basic-dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
}

.news-description {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.newsletter {
  width: 558px;
  background-image: url("../img/mail-background.png");
  margin: 0;
  padding: 6px;
  background-size: cover;
  border-radius: 16px;
}

.newsletter-wrapper {
  background-color: var(--basic-extra-light);
  border-radius: 16px;
  padding: 26px 26px 24px;
}

.newsletter-description {
  color: var(--basic-dark);
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.newsletter-email {
  margin: 0;
  padding: 0;
}

.email-field {
  width: 332px;
}

.newsletter-button {
  max-width: 152px;
  margin-right: -6px;
}

.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--basic-light);
  background-image: url("../img/delivery-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
}

.delivery-description-wrapper {
  width: 371px;
  margin-top: 103px;
}

.delivery-title {
  text-align: left;
  margin-bottom: 24px;
}

.delivery-form-description {
  color: var(--basic-dark);
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
}

.delivery-form-wrapper {
  width: 420px;
  background-color: var(--basic-extra-light);
  border-radius: 8px;
  padding: 40px;
  padding-bottom: 37px;
  -webkit-box-shadow: var(--big-shadow);
          box-shadow: var(--big-shadow);
}

.delivery-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.field {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  margin: 0;
  padding: 13px 16px;
  border: 1px solid var(--basic-neutral);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.delivery-form .field {
  margin-bottom: 20px;
}

.field:hover {
  border-color: var(--basic-extra-dark);
}

.field:disabled,
.field:focus:disabled {
  background-color: var(--basic-light);
  border-color: var(--basic-neutral);
}

.field:invalid {
  border-color: var(--status-errow);
}

.field:focus:invalid {
  outline: 2px solid var(--status-errow);
}

.field::-webkit-input-placeholder {
  color: var(--basic-neutral);
  opacity: 1;
}

.field::-moz-placeholder {
  color: var(--basic-neutral);
  opacity: 1;
}

.field:-ms-input-placeholder {
  color: var(--basic-neutral);
  opacity: 1;
}

.field::-ms-input-placeholder {
  color: var(--basic-neutral);
  opacity: 1;
}

.field::placeholder {
  color: var(--basic-neutral);
  opacity: 1;
}

.delivery-form p {
  margin: 0;
  padding: 0;
}

.form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivery-form label {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  margin-bottom: 8px;
}

.info {
  width: 14px;
  height: 14px;
  margin-left: 4px;
  margin-top: 3px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-image: url("../img/info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip {
  position: relative;
}

.tooltiptext {
  position: absolute;
  display: none;
  width: 169px;
  top: -6px;
  left: 21px;
  background-color: var(--basic-extra-light);
  color: var(--basic-dark);
  text-align: start;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  padding: 10px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid var(--basic-neutral);
  border-radius: 1px;
  -webkit-box-shadow: 0px 2px 12px var(--tooltip-shadow);
          box-shadow: 0px 2px 12px var(--tooltip-shadow);
}

.tooltip:hover .tooltiptext {
  display: block;
}

.tooltiptext::before,
.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 11px;
  left: -14px;
  border: 7px solid transparent;
  border-right: 7px solid var(--basic-neutral);
}

.tooltiptext::after {
  border-right: 7px solid var(--basic-extra-light);
  left: -13px;
}

.delivery-form-button {
  margin: auto;
  margin-top: 9px;
}

.delivery-date {
  width: 117px;
}

.delivery-phone {
  width: 287px;
}

.delivery-address {
  width: 420px;
}

.contacts {
  background-color: var(--basic-light);
  background-image: url("../img/contacts-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 64px;
}

.contacts-wrapper {
  width: 263px;
  padding: 40px;
  padding-bottom: 37px;
  background-color: var(--basic-extra-light);
  border-radius: 8px;
  -webkit-box-shadow: var(--middle-shadow);
          box-shadow: var(--middle-shadow);
}

.contacts-address {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  color: var(--basic-dark);
}

.contacts-address-text {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-phone {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  color: var(--basic-dark);
}

.contacts-phone-link {
  margin: 0;
  padding: 0;
  color: var(--basic-extra-dark);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  color: var(--basic-dark);
  font-size: 14px;
  line-height: 20px;
}

.feedback-link {
  margin-left: -3px;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1170px;
  margin: 0 auto;
  padding: 48px 0;
}

.footer-social-list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 405px;
  margin-top: -2px;
  margin-left: 2px;
}

.footer-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 356px;
  max-width: 427px;
  height: 52px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 20px;
  row-gap: 4px;
}

.footer-navigation-item {
  min-width: 126px;
  padding-bottom: 4px;
  padding-left: 24px;
}

.footer-navigation-link {
  text-decoration: none;
  color: inherit;
}

.footer-navigation-current {
  position: relative;
  font-weight: 700;
}

.footer-navigation-current::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../img/heart-fill.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.developer {
  width: 193px;
  margin-left: auto;
  margin-right: 14px;
}

.developer-text {
  margin: 0;
  margin-top: 9px;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
}

.developer-link {
  color: inherit;
  -webkit-text-decoration-color: var(--link-underline);
          text-decoration-color: var(--link-underline);
  text-underline-offset: 2px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: var(--basic-extra-light);
  -webkit-box-shadow: var(--big-shadow);
          box-shadow: var(--big-shadow);
}

.modal-feedback {
  width: 442px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  padding: 64px;
  padding-bottom: 62px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  background-color: var(--basic-extra-light);
  border: none;
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.feedback-item {
  margin: 0;
  margin-bottom: 16px;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
}

.feedback-item-letter {
  margin-bottom: 0;
}

.feedback-letter-textarea {
  min-height: 149px;
  margin: 0;
  resize: none;
}

.modal-feedback-button {
  display: block;
  margin-top: 23px;
  margin-right: -6px;
  margin-left: auto;
}

.inner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 32px;
  margin-bottom: 40px;
}

.inner-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0;
  margin-top: 16px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  gap: 29px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -20px;
  width: 12px;
  height: 12px;
  background-image: url("../img/chevrons-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-item:first-child::before {
  content: none;
}

.breadcrumbs-link {
  color: inherit;
  text-underline-offset: 3px;
}

.catalog-filters {
  font-size: 14px;
  line-height: 20px;
}

.filter {
  max-width: 807px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: 16px;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter legend {
  margin-bottom: 8px;
  margin-left: 14px;
}

.filter-sorting {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 196px;
  margin-right: auto;
}

.select-control {
  width: 100%;
  padding: 6px 14px;
  padding-right: 50px;
  font: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--button-background);
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 11px center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.select-control:hover {
  background-color: var(--button-hover);
}

.select-control:focus {
  border: 2px solid var(--basic-extra-light);
  outline: none;
}

.filter-price {
  width: 196px;
}

.range {
  width: 196px;
  height: 36px;
  padding: 10px 16px;
  background-color: var(--button-background);
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.range-scale {
  position: relative;
  width: 164px;
  height: 2px;
  top: 7px;
  background-color: var(--range-scale);
}

.range-bar {
  position: absolute;
  width: 56px;
  height: 2px;
  left: 40px;
  background-color: var(--basic-dark);
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background: var(--basic-extra-light);
  border: 6px solid var(--basic-extra-dark);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.range-toggle:hover {
  background-color: var(--basic-extra-dark);
  border-color: var(--basic-extra-light);
}

.range-toggle:active {
  background-color: var(--basic-extra-dark);
  border-color: var(--basic-extra-dark);
}
.range-toggle:focus {
  background-color: var(--basic-extra-dark);
  outline: 2px solid var(--basic-extra-dark);
  border-color: var(--basic-extra-light);
  -moz-outline-radius: 50px;
}

.toggle-min {
  top: -7px;
  left: -16px;
}

.toggle-max {
  top: -7px;
  right: -16px;
}

.range-wrapper-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 8px;
  margin-left: 16px;
}

.catalog-filter-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3px;
}

.range-input {
  width: 30px;
  padding: 0 1px;
  font: inherit;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  background-color: var(--button-background);
  border-radius: 20px;
  margin: 0;
  padding: 8px 15px;
  gap: 17px;
}

.filter-item {
  padding-left: 24px;
}

.control-radio,
.control-checkbox {
  position: relative;
}

.control-input-radio + label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -23px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1.33a6.67 6.67 0 0 0 0 13.34A6.67 6.67 0 0 0 8 1.33ZM8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16Z' fill='%232D3440'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.control-input-radio:checked + label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -23px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.67 8A6.67 6.67 0 1 1 1.33 8a6.67 6.67 0 0 1 13.34 0ZM8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16Zm0-5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z' fill='%232D3440'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.control-input-radio:hover + label:before,
.control-input-radio:focus + label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -23px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1.33a6.67 6.67 0 0 0 0 13.34A6.67 6.67 0 0 0 8 1.33ZM8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16Z' fill='%23FCFCFC'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.control-input-radio:checked:hover + label:before,
.control-input-radio:checked:focus + label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -23px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.67 8A6.67 6.67 0 1 1 1.33 8a6.67 6.67 0 0 1 13.34 0ZM8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16Zm0-5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z' fill='%23FCFCFC'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.control-input-radio:disabled + label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -23px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1.33a6.67 6.67 0 0 0 0 13.34A6.67 6.67 0 0 0 8 1.33ZM8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16Z' fill='%232D3440'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.control-input-radio:checked:disabled + label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -23px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.67 8A6.67 6.67 0 1 1 1.33 8a6.67 6.67 0 0 1 13.34 0ZM8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16Zm0-5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z' fill='%232D3440'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.control-input-checkbox + label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -23px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.3 1.33a.96.96 0 0 0-.97.97v11.4a.96.96 0 0 0 .97.96h11.4a.96.96 0 0 0 .97-1V2.3a.91.91 0 0 0-.29-.68 1 1 0 0 0-.28-.23.97.97 0 0 0-.4-.06H2.3Zm13.54 13.21A2.3 2.3 0 0 1 13.7 16H2.3A2.3 2.3 0 0 1 0 13.7V2.3A2.3 2.3 0 0 1 1.46.16c.11-.1.27-.16.43-.16H13.7c.34 0 .65.04.94.17.28.12.5.31.69.5.48.48.67 1.06.67 1.63v11.8c0 .18-.06.33-.16.44Z' fill='%232D3440'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.control-input-checkbox:checked + label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -23px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.62 1.62a.96.96 0 0 1 .68-.29h8.95a.67.67 0 1 0 0-1.33H2.3A2.3 2.3 0 0 0 0 2.3v11.4A2.3 2.3 0 0 0 2.3 16h11.4a2.3 2.3 0 0 0 2.3-2.3V8a.67.67 0 0 0-1.34 0v5.7a.96.96 0 0 1-.96.97H2.3a.96.96 0 0 1-.97-.97V2.3c0-.26.1-.5.29-.68Zm14.2.32a.67.67 0 1 0-.97-.92L7.6 8.66 5.78 6.73a.67.67 0 0 0-.97.91l2.32 2.45a.67.67 0 0 0 .97 0l7.72-8.15Z' fill='%232D3440'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.control-input-checkbox:hover + label:before,
.control-input-checkbox:focus + label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -23px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.3 1.33a.96.96 0 0 0-.97.97v11.4a.96.96 0 0 0 .97.96h11.4a.96.96 0 0 0 .97-1V2.3a.91.91 0 0 0-.29-.68 1 1 0 0 0-.28-.23.97.97 0 0 0-.4-.06H2.3Zm13.54 13.21A2.3 2.3 0 0 1 13.7 16H2.3A2.3 2.3 0 0 1 0 13.7V2.3A2.3 2.3 0 0 1 1.46.16c.11-.1.27-.16.43-.16H13.7c.34 0 .65.04.94.17.28.12.5.31.69.5.48.48.67 1.06.67 1.63v11.8c0 .18-.06.33-.16.44Z' fill='%23FCFCFC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h16v16H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.control-input-checkbox:checked:hover + label:before,
.control-input-checkbox:checked:focus + label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -23px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.62 1.62a.96.96 0 0 1 .68-.29h8.95a.67.67 0 1 0 0-1.33H2.3A2.3 2.3 0 0 0 0 2.3v11.4A2.3 2.3 0 0 0 2.3 16h11.4a2.3 2.3 0 0 0 2.3-2.3V8a.67.67 0 1 0-1.34 0v5.7a.96.96 0 0 1-.96.97H2.3a.96.96 0 0 1-.97-.97V2.3c0-.26.1-.5.29-.68Zm14.2.32a.67.67 0 1 0-.97-.92L7.6 8.66 5.78 6.73a.67.67 0 0 0-.97.91l2.32 2.45a.67.67 0 0 0 .97 0l7.72-8.15Z' fill='%23FCFCFC'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.control-input-checkbox:disabled + label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -23px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.3 1.33a.96.96 0 0 0-.97.97v11.4a.96.96 0 0 0 .97.96h11.4a.96.96 0 0 0 .97-1V2.3a.91.91 0 0 0-.29-.68 1 1 0 0 0-.28-.23.97.97 0 0 0-.4-.06H2.3Zm13.54 13.21A2.3 2.3 0 0 1 13.7 16H2.3A2.3 2.3 0 0 1 0 13.7V2.3A2.3 2.3 0 0 1 1.46.16c.11-.1.27-.16.43-.16H13.7c.34 0 .65.04.94.17.28.12.5.31.69.5.48.48.67 1.06.67 1.63v11.8c0 .18-.06.33-.16.44Z' fill='%232D3440'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.control-input-checkbox:checked:disabled + label:before {
  content: "";
  position: absolute;
  top: 1px;
  left: -23px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.62 1.62a.96.96 0 0 1 .68-.29h8.95a.67.67 0 1 0 0-1.33H2.3A2.3 2.3 0 0 0 0 2.3v11.4A2.3 2.3 0 0 0 2.3 16h11.4a2.3 2.3 0 0 0 2.3-2.3V8a.67.67 0 0 0-1.34 0v5.7a.96.96 0 0 1-.96.97H2.3a.96.96 0 0 1-.97-.97V2.3c0-.26.1-.5.29-.68Zm14.2.32a.67.67 0 1 0-.97-.92L7.6 8.66 5.78 6.73a.67.67 0 0 0-.97.91l2.32 2.45a.67.67 0 0 0 .97 0l7.72-8.15Z' fill='%232D3440'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-rich {
  width: 367px;
}

.filter-toppings {
  width: 596px;
}

.filter-button {
  display: inline-block;
  font-weight: 700;
  background-color: var(--button-background);
  border: 2px solid var(--basic-extra-light);
  background-clip: padding-box;
  border-radius: 20px;
  margin-bottom: -2px;
  padding: 8px 51px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter-button:hover {
  background-color: var(--basic-extra-light);
  border-color: var(--button-background);
}

.filter-button:focus,
.filter-button:active  {
  border-color: var(--basic-extra-dark);
  outline: none;
}

.filter-button:disabled {
  color: var(--basic-extra-dark);
  opacity: 0.4;
}

.catalog-card {
  margin-bottom: 40px;
}

.pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 0;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  min-width: 497px;
  margin: 0;
  padding: 0;
  -webkit-column-gap: 1px;
     -moz-column-gap: 1px;
          column-gap: 1px;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-item:first-child {
  margin-right: 15px;
}

.pagination-item:last-child {
  margin-left: 15px;
}

.pagination-link {
  display: block;
  color: inherit;
  min-width: 24px;
  min-height: 24px;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  padding: 1px 7px;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
}

.pagination-current {
  background-color: var(--basic-extra-light);
  cursor: pointer;
}

.pagination-prev {
  position: relative;
  min-width: 16px;
  min-height: 16px;
  background-image: url("../img/arrow-left.svg");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  padding: 0;
  opacity: 0.2;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pagination-next {
  position: relative;
  min-width: 16px;
  min-height: 16px;
  background-image: url("../img/arrow-right.svg");
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  padding: 0;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pagination-link:hover {
  background-color: var(--button-background);
  border-color: var(--basic-extra-light);
}

.pagination-link:active {
  background-color: var(--basic-extra-light);
  border-color: var(--basic-extra-light);
}

.pagination-link:focus {
  background-color: var(--button-background);
  border-color: var(--basic-extra-dark);
}

